*.class
.classpath
.project
.settings/*
*.swo
*.swp
target/*
tomcat_deployment_descriptor
*.iml
*.ipr
*.iws
.idea
/.settings
/target
infobip-deployment-manager-service/target/*
/bat
/bin
/local
/nbactions.xml
/nb-configuration.xml
src/test/java/sshtest/
out
*.lock


/nbproject/
local/